{% extends '../layouts/default.twig' %}
{% block page %}
    <div class="container_hotel container_hotel_page">
        <div></div>
        <div class="hotel_page_l">
            <div class="hotel_page_bottom">
                <div class="hotel_page_col hotel_page_col_grid">
                    <img src="../../assets/img/image%204.png" alt="">
                    <h1 class="hotel_page_col_text">Высокогорный бутик-отель S.N.e.G</h1>

                    <a href="#" class="hotel_page_button">Забронировать</a>
                </div>
                <div class="hotel_page_col hotel_page_col_bottom">
                    <div class="hotel_page_col_social">
                        <a href="#">
                            <img src="../../assets/img/Insta%201.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../../assets/img/share%201.svg" alt="">
                        </a>
                    </div>
                    <div class="hotel_page_col_phone">
                        <div class="img_page">
                            <img src="../../assets/img/Vector%20Smart%20Object%201.svg" alt="">
                        </div>
                        <a href="tel:+77272613939">+7 727 261 39 39</a>, <a href="tel:+77778102222">+7 777 810 22 22</a>
                    </div>
                    <div class="hotel_page_col_loc">
                        <div class="img_page">
                            <img src="../../assets/img/Location.svg" alt="">

                        </div>
                        <p> Республика Казахстан, Алматы, горный курорт «Шымбулак», средняя станция (канатная дорога
                            Комби-1).</p>
                    </div>
                </div>
            </div>
            <div class="hotel_slider_all hotel_page_slider">
                <div class="number_result"></div>
                <div class="hotel_l_items_slider">
                    <div class="hotel_l_items_slider_img">
                        <div class="label_items">Завтрак включен</div>
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                    <div class="hotel_l_items_slider_img">
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                    <div class="hotel_l_items_slider_img">
                        <div class="label_items">Завтрак включен</div>
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                    <div class="hotel_l_items_slider_img">
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                    <div class="hotel_l_items_slider_img">
                        <div class="label_items">Завтрак включен</div>
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                    <div class="hotel_l_items_slider_img">
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                    <div class="hotel_l_items_slider_img">
                        <div class="label_items">Завтрак включен</div>
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                    <div class="hotel_l_items_slider_img">
                        <a href="#">
                            <img src="../../assets/img/Rectangle%2018.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="slider_page_dots">
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2019.png" alt="">
                    </div>
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2020.png" alt="">
                    </div>
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2019.png" alt="">
                    </div>
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2020.png" alt="">
                    </div>
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2019.png" alt="">
                    </div>
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2020.png" alt="">
                    </div>
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2019.png" alt="">
                    </div>
                    <div class="slider_dots_img">
                        <img src="../../assets/img/Rectangle%2020.png" alt="">
                    </div>
                </div>
            </div>
            <div class="hotel_page_grid">
                <div class="hotel_page_grid_l">
                    <div class="hotel_page_content">
                        <div class="hotel_page_text_all">Про отель</div>
                        <p>
                            Рядом с отелем проходят лыжные трассы.Отель G расположен в селе Бескайнар, в 21 км от города
                            Алматы. Поблизости находится горнолыжный подъемник Комби-1. К услугам гостей терраса для
                            загара и ресторан. Из окон открывается вид на горы.<br><br>
                            Все номера оснащены телевизором с плоским экраном. В некоторых номерах обустроена гостиная
                            зона. В собственной ванной комнате установлен душ. Гостям предоставляются халаты, тапочки и
                            бесплатные туалетно-косметические принадлежности. Отель S.N.e.На всей территории отеля G
                            предоставляется бесплатный Wi-Fi.<br><br>
                            В отеле работает экскурсионное бюро.
                            В отеле можно поиграть в дартс, а также воспользоваться игровой приставкой Xbox 360. В
                            окрестностях популярны лыжный спорт и пешие походы. Расстояние до международного аэропорта
                            Алматы составляет 26 км.<br><br>
                            Парам особенно нравится расположение — они оценили проживание в этом районе для поездки
                            вдвоем на <span>9,9.</span><br><br>
                            Мы говорим на вашем языке!
                        </p>
                    </div>
                    <div class="hotel_page_number_fond">
                        <div class="hotel_page_text_all">Номерной фонд</div>
                        <div class="ui accordion hotel_page_accordion">
                            <div class="hotel_page_items">
                                <div class="active title">
                                    <div class="number_fond_text">Номер Стандарт</div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Кол-во людей</div>
                                        <div class="number_fond_column_b">2 человека</div>
                                    </div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Размер номера</div>
                                        <div class="number_fond_column_b">18 м.кв.</div>
                                    </div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Цена от</div>
                                        <div class="number_fond_column_b">25 000 тг</div>
                                    </div>
                                    <div class="close_and_open">
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="active content">
                                    <div class="hotel_slider_all hotel_page_slider">
                                        <div class="number_result"></div>
                                        <div class="hotel_l_items_slider">
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slider_page_dots">
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel_bed">
                                        <div class="hotel_bed_icon">
                                            <img src="../../assets/img/bed%201.svg" alt="">
                                        </div>
                                        <div class="hotel_bed_text">1 очень большая двуспальная кровать</div>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">Услуги и удобства:</div>
                                        <ul>
                                            <li><span>Лестница для доступа к верхним этажам</span></li>
                                            <li><span>Белье</span></li>
                                            <li><span>Удлиненные кровати (более 2 метров)</span></li>
                                            <li><span>Настольные игры и/или пазлы</span></li>
                                            <li><span>Мини-бар</span></li>
                                            <li><span>Деревянный или паркетный пол</span></li>
                                            <li><span>Звукоизоляция</span></li>
                                            <li><span>Москитная сетка</span></li>
                                            <li><span>Отопление</span></li>
                                            <li><span>Ковровое покрытие</span></li>
                                            <li><span>Высокий стул для ребенка</span></li>
                                            <li><span>Холодильник</span></li>
                                            <li><span>Электрический чайник</span></li>
                                            <li><span>Диван</span></li>
                                            <li><span>Гостиный уголок</span></li>
                                            <li><span>Телевизор</span></li>
                                            <li><span>Спутниковые каналы</span></li>
                                            <li><span>Телевизор с плоским экраном</span></li>
                                            <li><span>Кабельные каналы</span></li>
                                            <li><span>Игровая приставка Xbox 360</span></li>
                                            <li><span>Принадлежности для барбекю</span></li>
                                            <li><span>Розетка около кровати</span></li>
                                            <li><span>Вешалка для одежды</span></li>
                                            <li><span>Услуга «звонок-будильник»/ будильник </span></li>
                                            <li><span>Услуга «звонок-будильник»</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">Вид:</div>
                                        <ul>
                                            <li><span>Вид на горы</span></li>
                                            <li><span>Вид на город</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">В ванной комнате:</div>
                                        <ul>
                                            <li><span>Бесплатные туалетно-косметические принадлежности</span></li>
                                            <li><span>Халат</span></li>
                                            <li><span>Туалет</span></li>
                                            <li><span>Ванна или душ</span></li>
                                            <li><span>Полотенца</span></li>
                                            <li><span>Тапочки</span></li>
                                            <li><span>Общий туалет</span></li>
                                            <li><span>Фен</span></li>
                                            <li><span>Дополнительный туалет</span></li>
                                            <li><span>Полотенца/постельное белье за дополнительную плату</span></li>
                                            <li><span>Туалетная бумага</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_prohibited">
                                        <div class="hotel_page_prohibited_text">
                                            Курение:
                                            <span>запрещено</span>
                                        </div>
                                        <div class="hotel_page_prohibited_text">
                                            Парковка:
                                            <span>отсутствует</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel_page_items">
                                <div class="title">
                                    <div class="number_fond_text">Номер Стандарт+</div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Кол-во людей</div>
                                        <div class="number_fond_column_b">2 человека</div>
                                    </div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Размер номера</div>
                                        <div class="number_fond_column_b">18 м.кв.</div>
                                    </div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Цена от</div>
                                        <div class="number_fond_column_b">25 000 тг</div>
                                    </div>
                                    <div class="close_and_open">
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="hotel_slider_all hotel_page_slider">
                                        <div class="number_result"></div>
                                        <div class="hotel_l_items_slider">
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slider_page_dots">
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel_bed">
                                        <div class="hotel_bed_icon">
                                            <img src="../../assets/img/bed%201.svg" alt="">
                                        </div>
                                        <div class="hotel_bed_text">1 очень большая двуспальная кровать</div>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">Услуги и удобства:</div>
                                        <ul>
                                            <li><span>Лестница для доступа к верхним этажам</span></li>
                                            <li><span>Белье</span></li>
                                            <li><span>Удлиненные кровати (более 2 метров)</span></li>
                                            <li><span>Настольные игры и/или пазлы</span></li>
                                            <li><span>Мини-бар</span></li>
                                            <li><span>Деревянный или паркетный пол</span></li>
                                            <li><span>Звукоизоляция</span></li>
                                            <li><span>Москитная сетка</span></li>
                                            <li><span>Отопление</span></li>
                                            <li><span>Ковровое покрытие</span></li>
                                            <li><span>Высокий стул для ребенка</span></li>
                                            <li><span>Холодильник</span></li>
                                            <li><span>Электрический чайник</span></li>
                                            <li><span>Диван</span></li>
                                            <li><span>Гостиный уголок</span></li>
                                            <li><span>Телевизор</span></li>
                                            <li><span>Спутниковые каналы</span></li>
                                            <li><span>Телевизор с плоским экраном</span></li>
                                            <li><span>Кабельные каналы</span></li>
                                            <li><span>Игровая приставка Xbox 360</span></li>
                                            <li><span>Принадлежности для барбекю</span></li>
                                            <li><span>Розетка около кровати</span></li>
                                            <li><span>Вешалка для одежды</span></li>
                                            <li><span>Услуга «звонок-будильник»/ будильник </span></li>
                                            <li><span>Услуга «звонок-будильник»</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">Вид:</div>
                                        <ul>
                                            <li><span>Вид на горы</span></li>
                                            <li><span>Вид на город</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">В ванной комнате:</div>
                                        <ul>
                                            <li><span>Бесплатные туалетно-косметические принадлежности</span></li>
                                            <li><span>Халат</span></li>
                                            <li><span>Туалет</span></li>
                                            <li><span>Ванна или душ</span></li>
                                            <li><span>Полотенца</span></li>
                                            <li><span>Тапочки</span></li>
                                            <li><span>Общий туалет</span></li>
                                            <li><span>Фен</span></li>
                                            <li><span>Дополнительный туалет</span></li>
                                            <li><span>Полотенца/постельное белье за дополнительную плату</span></li>
                                            <li><span>Туалетная бумага</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_prohibited">
                                        <div class="hotel_page_prohibited_text">
                                            Курение:
                                            <span>запрещено</span>
                                        </div>
                                        <div class="hotel_page_prohibited_text">
                                            Парковка:
                                            <span>отсутствует</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel_page_items">
                                <div class="title">
                                    <div class="number_fond_text">Номер Люкс</div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Кол-во людей</div>
                                        <div class="number_fond_column_b">2 человека</div>
                                    </div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Размер номера</div>
                                        <div class="number_fond_column_b">18 м.кв.</div>
                                    </div>
                                    <div class="number_fond_column">
                                        <div class="number_fond_column_t">Цена от</div>
                                        <div class="number_fond_column_b">25 000 тг</div>
                                    </div>
                                    <div class="close_and_open">
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="hotel_slider_all hotel_page_slider">
                                        <div class="number_result"></div>
                                        <div class="hotel_l_items_slider">
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <div class="label_items">Завтрак включен</div>
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                            <div class="hotel_l_items_slider_img">
                                                <a href="#">
                                                    <img src="../../assets/img/Rectangle%2018.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slider_page_dots">
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2019.png" alt="">
                                            </div>
                                            <div class="slider_dots_img">
                                                <img src="../../assets/img/Rectangle%2020.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel_bed">
                                        <div class="hotel_bed_icon">
                                            <img src="../../assets/img/bed%201.svg" alt="">
                                        </div>
                                        <div class="hotel_bed_text">1 очень большая двуспальная кровать</div>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">Услуги и удобства:</div>
                                        <ul>
                                            <li><span>Лестница для доступа к верхним этажам</span></li>
                                            <li><span>Белье</span></li>
                                            <li><span>Удлиненные кровати (более 2 метров)</span></li>
                                            <li><span>Настольные игры и/или пазлы</span></li>
                                            <li><span>Мини-бар</span></li>
                                            <li><span>Деревянный или паркетный пол</span></li>
                                            <li><span>Звукоизоляция</span></li>
                                            <li><span>Москитная сетка</span></li>
                                            <li><span>Отопление</span></li>
                                            <li><span>Ковровое покрытие</span></li>
                                            <li><span>Высокий стул для ребенка</span></li>
                                            <li><span>Холодильник</span></li>
                                            <li><span>Электрический чайник</span></li>
                                            <li><span>Диван</span></li>
                                            <li><span>Гостиный уголок</span></li>
                                            <li><span>Телевизор</span></li>
                                            <li><span>Спутниковые каналы</span></li>
                                            <li><span>Телевизор с плоским экраном</span></li>
                                            <li><span>Кабельные каналы</span></li>
                                            <li><span>Игровая приставка Xbox 360</span></li>
                                            <li><span>Принадлежности для барбекю</span></li>
                                            <li><span>Розетка около кровати</span></li>
                                            <li><span>Вешалка для одежды</span></li>
                                            <li><span>Услуга «звонок-будильник»/ будильник </span></li>
                                            <li><span>Услуга «звонок-будильник»</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">Вид:</div>
                                        <ul>
                                            <li><span>Вид на горы</span></li>
                                            <li><span>Вид на город</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_services">
                                        <div class="hotel_page_services_text">В ванной комнате:</div>
                                        <ul>
                                            <li><span>Бесплатные туалетно-косметические принадлежности</span></li>
                                            <li><span>Халат</span></li>
                                            <li><span>Туалет</span></li>
                                            <li><span>Ванна или душ</span></li>
                                            <li><span>Полотенца</span></li>
                                            <li><span>Тапочки</span></li>
                                            <li><span>Общий туалет</span></li>
                                            <li><span>Фен</span></li>
                                            <li><span>Дополнительный туалет</span></li>
                                            <li><span>Полотенца/постельное белье за дополнительную плату</span></li>
                                            <li><span>Туалетная бумага</span></li>
                                        </ul>
                                    </div>
                                    <div class="hotel_page_prohibited">
                                        <div class="hotel_page_prohibited_text">
                                            Курение:
                                            <span>запрещено</span>
                                        </div>
                                        <div class="hotel_page_prohibited_text">
                                            Парковка:
                                            <span>отсутствует</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel_page_grid_r">
                    <div class="hotel_page_rating_content">
                        <div class="hotel_page_rating_bottom">
                            <div class="rating_number">
                                9,4
                            </div>
                            <div class="rating_text">Наш рейтинг
                                на Booking.com
                            </div>
                        </div>
                        <div class="rating_text_feedback">На основании 416 отзывов об отеле</div>
                        <div class="status_rating_text">Составные части оценки</div>
                        <ul class="status_rating">
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Удобства</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">9,4</div>
                            </li>
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Удобства</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">9,4</div>
                            </li>
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Чистота</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">9,5</div>
                            </li>
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Комфорт</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">9,5</div>
                            </li>
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Соотношение цена/качество</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">9,1</div>
                            </li>
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Расположение</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">9,8</div>
                            </li>
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Всего</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">9,4</div>
                            </li>
                            <li>
                                <div class="status_rating_left">
                                    <div class="status_rating_l_text">Бесплатный Wi-Fi</div>
                                    <div class="progress_rating">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="status_rating_number">7,9</div>
                            </li>
                        </ul>
                    </div>
                    <div class="hotel_page_banner">
                        <img src="../../assets/img/image%205.png" alt="">
                    </div>
                    <div class="hotel_page_like">
                        <div class="hotel_page_like_text">Гостям нравится:</div>
                        <span>Идеально подходит для того, чтобы остановиться на уик-энд!</span>
                        <ul>
                            <li>
                                <img src="../../assets/img/Vector.svg" alt="">
                                <p>Отличное расположение: высокие оценки от недавно побывавших гостей (9,8)</p>
                            </li>
                            <li>
                                <img src="../../assets/img/bed%201.svg" alt="">
                                <p>Хотите хорошо выспаться? У этого отеля высокие оценки за очень удобные кровати.</p>
                            </li>
                        </ul>
                        <p class="hotel_popular_text">Популярно среди индивидуальных путешественников</p>
                        <ul>
                            <li>
                                <img src="../../assets/img/wifi%201.svg" alt="">
                                <p> Бесплатный Wi-Fi</p>
                            </li>
                            <li>
                                <img src="../../assets/img/ski%201.svg" alt="">
                                <p>Выход на лыжный склон</p>
                            </li>
                        </ul>
                        <a href="#" class="hotel_button_like">
                            Забронировать
                        </a>
                    </div>
                    <a href="#" class="hotel_page_like_link">
                      <div class="hotel_page_like_logo">
                          <img src="../../assets/img/image%204.png" alt="">
                      </div>
                        <div class="hotel_page_like_image">
                            <img src="../../assets/img/image%206.png" alt="">
                        </div>
                        <div class="hotel_page_like_b">Ресторан в отеле S.N.e.G</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% extends '../components/footer.twig' %}