{% extends '../layouts/default.twig' %}
{% set head_title = "Отели" %}
{% set body_class = "container_home" %}
{% block page %}
    <div class="container_hotel">
        <div></div>
        <div class="hotel_l">
            <h1 class="hotel_l_text">
                Отели Parmigiano group
            </h1>
            <div class="hotel_l_bottom">
                <div class="hotel_l_items">
                    <div class="hotel_l_items_content">
                        <img src="../../assets/img/image%204.png" alt="">
                        <div class="hotel_l_items_con_b">
                            <div class="hotel_l_items_con_b"><a href="#" class="hotel_l_items_strong">S.N.e.G Hotel &
                                    Restaurant</a>
                                <p>Высокогорный отель</p></div>
                        </div>
                    </div>
                    <div class="hotel_slider_all">
                        <div class="number_result"></div>
                        <div class="hotel_l_items_slider">
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hotel_l_items_gallery">
                        <p class="hotel_l_items_gallery_text">Галерея</p>
                        <div class="gallery_slider">
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2012.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2013.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2014.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2015.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2012.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2013.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2014.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2015.png" alt="">
                            </div>
                        </div>
                        <div class="gallery_slider_text">
                            Номерной фонд <span>23</span>
                        </div>
                    </div>
                    <div class="hotel_l_items_contact">
                        <div class="hotel_contact_items">
                            <div class="hotel_contact_items_img">
                                <img src="../../assets/img/Vector.svg" alt="">
                            </div>
                            <div class="hotel_contact_items_text">г. Алматы, ул. Курмангазы, 43
                                (уг. пр. Назарбаева)
                            </div>
                        </div>
                        <div class="hotel_contact_items">
                            <div class="hotel_contact_items_img">
                                <img src="../../assets/img/Vector-1.svg" alt="">
                            </div>
                            <div class="hotel_contact_items_text link_row">
                                <a href="tel:+77272613939">+7 727 261 39 39</a><a href="tel:+77778102222">+7 777 810 22
                                    22</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel_l_items">
                    <div class="hotel_l_items_content">
                        <img src="../../assets/img/image%204.png" alt="">
                        <div class="hotel_l_items_con_b">
                            <div class="hotel_l_items_con_b"><a href="#" class="hotel_l_items_strong">S.N.e.G Hotel &
                                    Restaurant</a>
                                <p>Высокогорный отель</p></div>
                        </div>
                    </div>
                    <div class="hotel_slider_all">
                        <div class="number_result"></div>
                        <div class="hotel_l_items_slider">
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hotel_l_items_gallery">
                        <p class="hotel_l_items_gallery_text">Галерея</p>
                        <div class="gallery_slider">
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2012.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2013.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2014.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2015.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2012.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2013.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2014.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2015.png" alt="">
                            </div>
                        </div>
                        <div class="gallery_slider_text">
                            Номерной фонд <span>23</span>
                        </div>
                    </div>
                    <div class="hotel_l_items_contact">
                        <div class="hotel_contact_items">
                            <div class="hotel_contact_items_img">
                                <img src="../../assets/img/Vector.svg" alt="">
                            </div>
                            <div class="hotel_contact_items_text">г. Алматы, ул. Курмангазы, 43
                                (уг. пр. Назарбаева)
                            </div>
                        </div>
                        <div class="hotel_contact_items">
                            <div class="hotel_contact_items_img">
                                <img src="../../assets/img/Vector-1.svg" alt="">
                            </div>
                            <div class="hotel_contact_items_text link_row">
                                <a href="tel:+77272613939">+7 727 261 39 39</a><a href="tel:+77778102222">+7 777 810 22
                                    22</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel_l_items">
                    <div class="hotel_l_items_content">
                        <div class="hotel_l_items_con_b">
                            <div class="hotel_l_items_con_b"><a href="#" class="hotel_l_items_strong">S.N.e.G Hotel &
                                    Restaurant</a>
                                <p>Высокогорный отель</p></div>
                        </div>
                    </div>
                    <div class="hotel_slider_all">
                        <div class="number_result"></div>
                        <div class="hotel_l_items_slider">
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                            <div class="hotel_l_items_slider_img">
                                <div class="label_items">Завтрак включен</div>
                                <a href="#">
                                    <img src="../../assets/img/image%201.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hotel_l_items_gallery">
                        <p class="hotel_l_items_gallery_text">Галерея</p>
                        <div class="gallery_slider">
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2012.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2013.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2014.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2015.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2012.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2013.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2014.png" alt="">
                            </div>
                            <div class="gallery_slider_items">
                                <img src="../../assets/img/Rectangle%2015.png" alt="">
                            </div>
                        </div>
                        <div class="gallery_slider_text">
                            Номерной фонд <span>23</span>
                        </div>
                    </div>
                    <div class="hotel_l_items_contact">
                        <div class="hotel_contact_items">
                            <div class="hotel_contact_items_img">
                                <img src="../../assets/img/Vector.svg" alt="">
                            </div>
                            <div class="hotel_contact_items_text">г. Алматы, ул. Курмангазы, 43
                                (уг. пр. Назарбаева)
                            </div>
                        </div>
                        <div class="hotel_contact_items">
                            <div class="hotel_contact_items_img">
                                <img src="../../assets/img/Vector-1.svg" alt="">
                            </div>
                            <div class="hotel_contact_items_text link_row">
                                <a href="tel:+77272613939">+7 727 261 39 39</a><a href="tel:+77778102222">+7 777 810 22
                                    22</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% extends '../components/footer.twig' %}