{% extends '../layouts/default.twig' %}
{% set head_title = "Главная" %}
{% set body_class = "home" %}
{% block page %}
    <div class="container_home">

    </div>
{% endblock %}
{% extends '../components/footer.twig' %}