$white: #fff;
$black: #07021B;
$red: #E9484A;
$grey: #A2A1AF;
$violet: #4E4A65;
$pink: #FFD6D6;

$h1: 56px;
$h2: 48px;
$h3: 40px;
$h4: 32px;
$h5: 24px;
$h6: 16px;
$h7: 14px;


body {
  margin: 0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: $black;
}

* {
  box-sizing: border-box;
}

a {
  color: $black;
  transition: .2s all;
}

/*Header*/
header {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  align-items: center;
}

.basket_button {
  padding: 26px 40px;
  background: $pink;
}

.logo_image {
  padding: 16px 48px;
}

.ui.bottom.popup.popup_all.buyer_popup {
  margin-left: -17px;
}

.ui.bottom.popup.popup_all,
.ui.bottom.popup.phone_popup {
  top: 0 !important;
  z-index: 1;
  padding-top: 48px;
  border-radius: 0;
  border: 1px solid #EBEBED;
  box-sizing: border-box;

  &:before {
    display: none;
  }
}

.phone_popup_text:hover {
  text-decoration: underline;
}

.link_call {
  text-decoration-line: underline;
  color: $red;
}

.phone_popup {
  p {
    max-width: 122px;
    color: #4E4A65;
    display: flex;
    margin-top: 8px;
  }

  span {
    font-weight: bold;
    color: $black;
  }
}

.icon_all {
  &.active {
    .icon {
      transform: rotate(180deg);
    }
  }

  .icon:before {
    display: none;
  }

  .icon {
    transition: .5s all;
    width: 10px;
    height: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    top: 8px;
    margin: 0;
    position: absolute;
    right: 0;
    background: url("../assets/img/svg/arrow_drop.svg") no-repeat 100% center;
  }
}

.buyer_popup_header,
.phone_popup_header {
  display: flex;
  padding-right: 18px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: $h6;
  line-height: $h6;


}

.ui.selection.dropdown {
  .dropdown.icon:before {
    display: none;
  }

  .dropdown.icon {
    width: 10px;
    height: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    top: 8px;
    margin: 0;
    right: 0;
    background: url("../assets/img/svg/arrow_drop.svg") no-repeat 100% center;
  }
}

.ui.selection.dropdown.all_dropdown {
  .text:not(.default) {
    font-weight: bold;
  }

  box-shadow: none;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  background: none;

  .dropdown.icon {
    transition: .5s all
  }

  &.active {
    .dropdown.icon {
      transform: rotate(180deg);
    }
  }

  .menu > .item:hover {
    background: none;
  }


  border: none;
  width: max-content;
  min-width: initial;
  padding: 0 18px 0 0;
  height: max-content;
  min-height: max-content;

  .menu {
    background: #FFFFFF !important;
    z-index: -1;
    width: 79px;
    padding: 54px 17px 20px;
    overflow: hidden;
    background: none;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #EBEBED !important;
    border-radius: 0;
    box-shadow: none;
  }


  .text {
    font-size: $h6;
    line-height: $h6;
  }


  .active.item {
    display: none;
  }

  .menu > .item:last-child {
    margin-bottom: 0;
  }

  .menu > .item {
    margin-bottom: 12px;
  }

  .menu > .item {
    padding: 0 !important;
  }

  .menu > .item > a {
    font-size: $h6;
    line-height: $h6;
  }

  .menu .item.default {
    display: none;
  }

}

.ui.input.search_city {
  input {
    border-radius: 0;
    border: 1px solid #4E4A65;
    padding: 18px 16px;
  }

  width: 100%;

}

.city_button {
  .ui.button {
    &:hover {
      color: $red;
    }

    background: none;
    padding: 0;
    font-weight: normal;
    font-size: $h6;
    text-decoration: underline;
    line-height: $h6;
  }
}

.ui.popup.city_popup {
  max-width: 372px;
  padding: 32px;
  box-shadow: none;
  border-radius: 0;
}

.content_city {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  grid-gap: 20px;
}

.content_city .content_city_text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  &:hover {
    cursor: pointer;
    color: $red;
  }
}


.city_popup_text {
  font-weight: bold;
  font-size: $h6;
  line-height: $h6;
  margin-bottom: 24px;
}

.button_all {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $white;
  text-transform: uppercase;
}

.header_info {
  width: 100%;
  background: #EBEBED;
  height: 100%;
  align-items: center;
  padding: 24px 40px 24px 72px;
  display: grid;
  grid-template-columns: repeat(6, max-content );
  justify-content: space-between;
  max-width: 1266px;
}

.social_link {
  display: grid;
  grid-gap: 12px;
  margin: 20px 0;
}

.social_link_item {
  display: flex;
  align-items: center;

  .social_img {
    margin-right: 8px;
  }
}

.text_bold_s {
  font-size: $h7;
  line-height: $h7;
  font-weight: bold;
  text-transform: none;
  color: $black;
}

a:hover {
  color: $red;
}

.buyer_popup_link {
  a:hover {
    color: $red;
  }
}

.button_header {
  padding: 28px 48px;
  background: $violet;

}

.icon_img {
  cursor: pointer;
  position: relative;
  display: flex;

  img {
    width: 20px;
    height: 20px;
  }

  .label_icon {
    &.gray {
      background: $grey;
    }

    font-weight: bold;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 10px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    position: relative;
    background: $red;
    border-radius: 20px;
    right: 2px;
  }
}

.menu_list_grid {
  display: grid;
  grid-template-columns: repeat(5, max-content);
}

.menu_list_grid {
  width: 100%;
  max-width: 1234px;
  display: grid;
  justify-content: space-between;
}

.menu_list_grid {
  li {
    position: relative;
    cursor: pointer;
    padding-right: 18px;

    a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: $h6;
      line-height: $h6;
    }
  }
}

.menu_list {
  width: 100%;
}

.header_bottom {
  padding: 28px 48px;
  display: flex;
  align-items: center;
}
.search_header_b{
  width: 100%;
  max-width: 350px;
}
.ui.search.search_header_b input::placeholder{
  font-size: $h6;
  line-height: $h6;
  color: #4E4A65;
}
.container_all{
  padding: 0 116px;
}
.ui.icon.input .search.icon{
  background-size: 100%;
  background: url("../assets/img/svg/Search.svg") no-repeat center;
  width: 20px;
  height: 20px;
  top: 50%;
  opacity: 1;
  transform: translate(0,-50%);
}
.search.icon:before{
  display: none;
}
.ui.search.search_header_b input {
  border: none;
  border-radius: 0;
  padding: 8px;
  width: 100%;

  border-bottom: 1px solid #07021B;;
}

.icon_container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  grid-gap: 40px;
}

.buyer_popup_link {
  display: grid;
  grid-gap: 12px;
}