{% extends "../layouts/default.twig" %}
{% block footer %}
    <div class="container_all container_info">
        <div class="container_info_item">
            <div class="container_info_item_img">
                <img src="../../assets/img/svg/Car%201.svg" alt="">
            </div>
            <div class="container_info_column">
                <div class="container_info_column_text_t">Бесплатная доставка</div>
                <div class="container_info_column_text_b">При заказе онлай на сайте от 5 000 грн. в любую точку
                    Украины
                </div>
            </div>
        </div>
        <div class="container_info_item">
            <div class="container_info_item_img">
                <img src="../../assets/img/svg/Two%202.svg" alt="">
            </div>
            <div class="container_info_column">
                <div class="container_info_column_text_t">2 года гарантии</div>
                <div class="container_info_column_text_b">На всю продукцию, мы уверены в качестве нашей продукции</div>
            </div>
        </div>
        <div class="container_info_item">
            <div class="container_info_item_img">
                <img src="../../assets/img/svg/Day%201.svg" alt="">
            </div>
            <div class="container_info_column">
                <div class="container_info_column_text_t">Жалюзи за 1 день</div>
                <div class="container_info_column_text_b">Сроки выполнения заказа от 1 до 7 дней</div>
            </div>
        </div>
        <div class="container_info_item">
            <div class="container_info_item_img">
                <img src="../../assets/img/svg/Cleaning%201.svg" alt="">
            </div>
            <div class="container_info_column">
                <div class="container_info_column_text_t">уборка после работы</div>
                <div class="container_info_column_text_b">После окончания работ, мастера убирают всё за собой</div>
            </div>
        </div>
    </div>
    <div class="footer_top container_all">
        <div class="footer_top_left">
            <div class="logo_image">
                <img src="../../assets/img/logo.svg" alt="">
            </div>
            <div class="logo_text">Жалюзи и ролеты от производителя за 1 день</div>
        </div>
        <div class="footer_top_right">
            <div class="button_all text_bold_s">
                Онлайн конструктор
            </div>
            <div class="help_footer">
                <div class="phone_help_popup_header icon_all">
                    <div class="phone_popup_text">
                        Помощь и консультация
                    </div>
                    <i class="dropdown icon"></i>
                </div>
                <div class="phone_help_popup">
                    <div class="social_link">
                        <a href="#" target="_blank" class="social_link_item">
                            <div class="social_img">
                                <img src="../../assets/img/svg/Messenger.svg" alt="">
                            </div>
                            <div class="social_text">
                                Messenger
                            </div>
                        </a>
                        <a href="#" target="_blank" class="social_link_item">
                            <div class="social_img">
                                <img src="../../assets/img/svg/Viber.svg" alt="">
                            </div>
                            <div class="social_text">
                                Viber
                            </div>
                        </a>
                        <a href="#" target="_blank" class="social_link_item">
                            <div class="social_img">
                                <img src="../../assets/img/svg/What’s_app.svg" alt="">
                            </div>
                            <div class="social_text">
                                What’s app
                            </div>
                        </a>
                        <a href="#" target="_blank" class="social_link_item">
                            <div class="social_img">
                                <img src="../../assets/img/svg/Telegram.svg" alt="">
                            </div>
                            <div class="social_text">
                                Telegram
                            </div>
                        </a>
                    </div>
                    <a href="tel:+38080012356" class="footer_item_phone">
                        <div class="footer_item_icon">
                            <img src="../../assets/img/svg/Phone.svg" alt="" class="svg">

                        </div>
                        <div class="footer_item_text">0 800 123 560</div>
                    </a>
                    <span>с 08:00 до 21:00</span>
                    <p>Бесплатно по Украине</p>
                </div>
            </div>

            <div class="button_all button_header">Вызвать замерщика</div>
        </div>


    </div>
    <footer class="container_all">
        <div class="footer_container">
            <div class="footer_item">
                <a href="tel:+38080012356" class="footer_item_phone">
                    <div class="footer_item_icon">
                        <img src="../../assets/img/svg/Phone.svg" alt="">

                    </div>
                    <div class="footer_item_text">0 800 123 560</div>
                </a>
                <div class="footer_item_office">
                    <div class="footer_item_text_s">Главный офис компании</div>
                    <div class="footer_item_phone footer_item_office_text">
                        <div class="footer_item_icon">
                            <img src="../../assets/img/svg/Adress.svg" alt="">
                        </div>
                        <div class="footer_item_text">г. Харьков,
                            пр-т Московский, 129а
                        </div>
                    </div>
                </div>
                <div class="city_button_footer">
                    <div class="city_button_footer_text">Мы в других городах</div>
                    <div class="city_button_footer_popup visually-hidden">
                        <ul class="city_list">
                            <li>
                                <a href="#">Харьков</a>
                                <div class="link_city">
                                    <a href="#">Изюм</a>
                                    <a href="#">Дергачи</a>
                                    <a href="#">Валки</a>
                                </div>
                            </li>
                            <li>
                                <a href="#">Киев</a>
                            </li>
                            <li>
                                <a href="#">Днепр</a>
                            </li>
                            <li>
                                <a href="#">Запорожье</a>
                            </li>
                            <li>
                                <a href="#">Одесса</a>
                            </li>
                            <li>
                                <a href="#">Львов</a>
                            </li>
                            <li>
                                <a href="#">Черновцы</a>
                            </li>
                            <li>
                                <a href="#">Суммы</a>
                            </li>
                            <li>
                                <a href="#">Черкассы</a>
                            </li>
                            <li>
                                <a href="#">Кривой рог</a>
                                <div class="link_city">
                                    <a href="#">Павлоград</a>
                                    <a href="#">Энергодар</a>
                                </div>
                            </li>
                            <li>
                                <a href="#">Николаев</a>
                            </li>
                            <li>
                                <a href="#">Мариуполь</a>
                            </li>
                            <li>
                                <a href="#">Полтава</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer_item_office footer_item_social">
                    <div class="footer_item_text_s">Мы в соц. сетях</div>
                    <div class="footer_item_grid">
                        <a href="#" target="_blank" class="footer_link">
                            <img src="../../assets/img/svg/Istagram.svg" alt="">
                        </a>
                        <a href="#" target="_blank" class="footer_link">
                            <img src="../../assets/img/svg/Fasebook.svg" alt="">
                        </a>
                        <a href="#" target="_blank" class="footer_link">
                            <img src="../../assets/img/svg/Youtube.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer_director">
                    <p>Если Вас некачественно обслужили, у Вас возникли притензии к товару или же Вы хотите
                        поблагодарить
                        нас за оперативную и качественную работу.</p>
                    <button class="button_all button_director">Написать руководителю</button>
                </div>
            </div>
            <div class="footer_item">
                <a href="#" class="footer_item_list_text">Помощь покупателям</a>
                <ul class="footer_item_list">
                    <li><a href="#">
                            О компании
                        </a></li>
                    <li><a href="#">
                            Доставка и оплата
                        </a></li>
                    <li><a href="#">
                            Гарантия и Возврат
                        </a></li>
                    <li><a href="#">
                            Наши услуги
                        </a></li>
                    <li><a href="#">
                            Акции и предложения
                        </a></li>
                    <li><a href="#">
                            Дисконтная программа
                        </a></li>
                    <li><a href="#">
                            Полезные статьи
                        </a></li>
                    <li><a href="#">
                            Вопрос - ответ
                        </a></li>
                    <li><a href="#">
                            Дизайнерам
                        </a></li>
                    <li><a href="#">
                            Портфолио работ
                        </a></li>
                    <li><a href="#">
                            Контакты
                        </a></li>
                </ul>
            </div>
            <div class="footer_item">
                <a href="#" class="footer_item_list_text">Каталог продукции</a>
                <ul class="footer_item_list">
                    <li><a href="#">
                            Жалюзи
                        </a></li>
                    <li><a href="#">
                            Тканевые ролеты
                        </a></li>
                    <li><a href="#">
                            Римские шторы
                        </a></li>
                    <li><a href="#">
                            Плиссе
                        </a></li>
                    <li><a href="#">
                            Защитные ролеты
                        </a></li>
                    <li><a href="#">
                            Дисконтная программа
                        </a></li>
                    <li><a href="#">
                            Карнизы
                        </a></li>
                </ul>
                <a href="#" class="footer_item_list_text">Вакансии</a>
            </div>
            <div class="footer_item">
                <a href="#" class="footer_item_list_text">Жалюзи в интерьере</a>
                <ul class="footer_item_list">
                    <li><a href="#">
                            Жалюзи на кухню
                        </a></li>
                    <li><a href="#">
                            Жалюзи в спальню
                        </a></li>
                    <li><a href="#">
                            Жалюзи в ванную комнату
                        </a></li>
                    <li><a href="#">
                            Жалюзи в офис
                        </a></li>
                    <li><a href="#">
                            Жалюзи на балкон/лоджию
                        </a></li>
                    <li><a href="#">
                            Жалюзи в детскую комнату
                        </a></li>
                    <li><a href="#">
                            Жалюзи на дачу
                        </a></li>
                    <li><a href="#">
                            Жалюзи в школу
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright_text">
                © Интернет магазин “Arttex.com.ua” все права защищены, 2020.
            </div>
            <div class="copyright_right">
                <a href="#">Договор офферты</a>
                <a href="#">Политика обработки персональных данных</a>
                <a href="#">Условия использования сайта</a>
            </div>
        </div>
    </footer>
    <div class="ui modal left_modal modal_measurer">
        <i class="close icon"></i>
        <div class="header_measurer">
            Вызвать замерщика
        </div>
        <form class="ui form">
            <div class="field">
                <div class="anim_input">
                    <input type="text" name="first-name" placeholder="Введите Ваше имя">
                </div>
            </div>
            <div class="field">
                <div class="anim_input">
                    <input type="text" name="last-name" placeholder="Введите Ваш телефон">
                </div>
            </div>
            <div class="field">
                <div class="anim_input">
                    <select class="ui search dropdown">
                        <option value="">Укажите Ваш город</option>
                        <option value="KH">Харьков</option>
                        <option value="KV">Киев</option>
                    </select>
                </div>
            </div>

            <div class="form_date">
                <h4 class="ui dividing header_date">Укажите удобную дату и время</h4>
                <div class="two fields">
                    <div class="field">
                        <div class="anim_input">
                            <input placeholder="Дата" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="anim_input">
                            <input placeholder="Время" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui button_all submit" type="submit">Оформить Заявку</button>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Даю согласие на обработку моих персональных данных.</label>
                </div>
            </div>
        </form>
    </div>
    <div class="ui modal left_modal modal_call">
        <i class="close icon"></i>
        <div class="header_measurer call_text">
            Обратный звонок
        </div>
        <form class="ui form form_call">
            <div class="field">
                <div class="anim_input">
                    <input type="text" name="first-name" placeholder="Введите Ваше имя">
                </div>
            </div>
            <div class="field">
                <div class="anim_input">
                    <input type="text" name="last-name" placeholder="Введите Ваш телефон">
                </div>
            </div>
            <button class="ui button_all submit" type="submit">Оформить Заявку</button>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Даю согласие на обработку моих персональных данных.</label>
                </div>
            </div>
        </form>
    </div>
    <div class="ui modal left_modal modal_entrance">
        <i class="close icon"></i>
        <div class="flex_container">
            <div class="header_measurer entrance_text">
                Вход
            </div>
            <form class="ui form form_entrance">
                <div class="field">
                    <div class="anim_input">
                        <input type="text" name="first-name" placeholder="E-mail или номер телефона">
                    </div>
                    <label for="first-name" class="entrance_label"> Для авторизации по номеру телефона введите его в
                        формате: 38ХХХХХХХХХХ</label>
                </div>
                <div class="ui button_all submit entrance_button">Далее</div>
            </form>
            <div class="modal_text_bottom" id="registration">Регистрация</div>
        </div>
    </div>
    <div class="ui modal left_modal modal_phone">
        <i class="close icon"></i>
        <div class="flex_container">
            <div class="header_measurer entrance_text">
                Вход
            </div>
            <form class="ui form form_password_reset">
                <div class="cod_message">
                    <p class="text_bold_s">Введите код из смс</p>
                    <div class="field input_message">
                        <input type="number" name="one">
                        <input type="number" name="two">
                        <input type="number" name="three">
                        <input type="number" name="four">
                    </div>
                </div>
                <div class="password_info">
                    <p>Не приходит смс?</p>
                    <div class="link_underline message_click">Отправить ещё раз</div>
                </div>
                <div class="link_underline phone_click">Ввести другой номер телефона</div>
                <div class="ui button_all submit entrance_button" type="submit">Войти</div>
            </form>
            <div class="modal_text_bottom" id="registration_phone">Регистрация</div>
        </div>
    </div>
    <div class="ui modal left_modal modal_password_reset">
        <i class="close icon"></i>
        <div class="flex_container">
            <div class="header_measurer entrance_text">
                Востановление пароля
            </div>
            <form class="ui form form_password_reset">
                <div class="field ">
                    <div class="anim_input">
                        <input type="password" name="first-name" placeholder="Контрольное слово">
                    </div>
                </div>
                <div class="field ui icon input password_container">
                    <i class="low vision icon"></i>
                    <div class="anim_input">
                        <input type="password" name="first-name" placeholder="Пароль">
                    </div>
                </div>
                <p>
                    Ссылка на востановление пароля отправленна на text@gmail.com
                    <br>
                    <br>
                    Если ссылка не пришла проверьте спам или повторите попытку
                </p>

                <div class="ui button_all submit password_reset_button" type="submit">Востоновить</div>
            </form>
            <div class="modal_text_bottom" id="password_reset">Вход</div>
        </div>
    </div>
    <div class="ui modal left_modal modal_email">
        <i class="close icon"></i>
        <div class="flex_container">
            <div class="header_measurer entrance_text">
                Вход
            </div>
            <form class="ui form form_email">
                <div class="field ui icon input password_container">
                    <i class="low vision icon"></i>
                    <div class="anim_input">
                        <input type="password" name="first-name" placeholder="Пароль">
                    </div>
                </div>
                <div class="password_info">
                    <div class="password_reset link_underline">Восстановить пароль</div>
                    <div class="prev_modal link_underline">Ввести другой E-mail</div>
                </div>
                <div class="ui button_all submit modal_email_button" type="submit">Войти</div>
            </form>
            <div class="modal_text_bottom" id="registration">Регистрация</div>
        </div>
    </div>
    <div class="ui modal left_modal modal_registration">
        <i class="close icon"></i>
        <div class="flex_container">
            <div class="header_measurer entrance_text">
                Регистрация
            </div>
            <form class="ui form form_registration">
                <div class="field">
                    <div class="anim_input">
                        <input type="text" name="first-name" placeholder="Введите Ваше имя">
                    </div>
                </div>
                <div class="field">
                    <div class="anim_input geeks">
                        <input type="text" name="first-name" placeholder="Введите Ваш телефон">
                    </div>
                </div>
                <div class="field error">
                    <div class="anim_input">
                        <input type="text" name="first-name" placeholder="Введите Ваш E-mail">
                    </div>
                </div>
                <div class="field">
                    <div class="anim_input">
                        <input type="text" name="first-name" placeholder="Введите Ваш телефон">
                    </div>
                </div>
                <div class="field">
                    <div class="anim_input geeks">
                        <select class="ui search dropdown">
                            <option value="">Укажите Ваш город</option>
                            <option value="KH">Харьков</option>
                            <option value="KV">Киев</option>
                        </select>
                    </div>
                </div>
                <div class="field ui icon input password_container">
                    <i class="low vision icon"></i>
                    <div class="anim_input">
                        <input type="password" name="first-name" placeholder="Пароль">
                    </div>
                </div>
                <button class="ui button_all submit registration_button" type="submit">Зарегистрироваться</button>
            </form>
            <div class="modal_text_bottom" id="entrance">Вход</div>
        </div>
    </div>
    <div class="ui modal left_modal modal_basket">
        <i class="close icon"></i>
        <div class="flex_container">
            <div class="header_measurer basket_text">
                В Вашей корзине
            </div>
            <div class="basket_container">
                <div class="basket_container_grid">
                    <div class="basket_items">
                        <div class="basket_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </div>
                        <div class="basket_items_container">
                            <div class="container_article">
                                <div class="container_text_l container_text_gray">Артикул:</div>
                                <div class="container_text_r">00035497</div>
                            </div>
                            <div class="basket_items_title text_bold_s">
                                Горизонтальные алюминивые жалюзи Венус белые - 0221
                            </div>
                            <ul class="basket_info">
                                <li>
                                    <div class="container_text_l">Место крепления:</div>
                                    <div class="container_text_r">на створку</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Ширина:</div>
                                    <div class="container_text_r">90 см</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Высота:</div>
                                    <div class="container_text_r">150 см</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Тип установки:</div>
                                    <div class="container_text_r">со сверлением</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Управлен:</div>
                                    <div class="container_text_r">левое</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Цвет:</div>
                                    <div class="container_text_r"><img src="../../assets/img/svg/Rectangle104.svg"
                                                                       alt="">блендный зелёный
                                    </div>
                                </li>
                            </ul>
                            <div class="container_cost">
                                <div class="container_text_l cost_text_l">Стоимость:</div>
                                <div class="container_text_r cost_text_r">7 580 грн.</div>
                            </div>
                        </div>
                        <div class="basket_items_close">
                            <img src="../../assets/img/svg/close.svg" alt="" class="svg">
                        </div>
                    </div>
                    <div class="basket_items">
                        <div class="basket_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </div>
                        <div class="basket_items_container">
                            <div class="container_article">
                                <div class="container_text_l container_text_gray">Артикул:</div>
                                <div class="container_text_r">00035497</div>
                            </div>
                            <div class="basket_items_title text_bold_s">
                                Горизонтальные алюминивые жалюзи Венус белые - 0221
                            </div>
                            <ul class="basket_info">
                                <li>
                                    <div class="container_text_l">Место крепления:</div>
                                    <div class="container_text_r">на створку</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Ширина:</div>
                                    <div class="container_text_r">90 см</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Высота:</div>
                                    <div class="container_text_r">150 см</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Тип установки:</div>
                                    <div class="container_text_r">со сверлением</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Управлен:</div>
                                    <div class="container_text_r">левое</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Цвет:</div>
                                    <div class="container_text_r"><img src="../../assets/img/svg/Rectangle104.svg"
                                                                       alt="">блендный зелёный
                                    </div>
                                </li>
                            </ul>
                            <div class="container_cost">
                                <div class="container_text_l cost_text_l">Стоимость:</div>
                                <div class="container_text_r cost_text_r">7 580 грн.</div>
                            </div>
                        </div>
                        <div class="basket_items_close">
                            <img src="../../assets/img/svg/close.svg" alt="" class="svg">
                        </div>
                    </div>
                    <div class="basket_items">
                        <div class="basket_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </div>
                        <div class="basket_items_container">
                            <div class="container_article">
                                <div class="container_text_l container_text_gray">Артикул:</div>
                                <div class="container_text_r">00035497</div>
                            </div>
                            <div class="basket_items_title text_bold_s">
                                Горизонтальные алюминивые жалюзи Венус белые - 0221
                            </div>
                            <ul class="basket_info">
                                <li>
                                    <div class="container_text_l">Место крепления:</div>
                                    <div class="container_text_r">на створку</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Ширина:</div>
                                    <div class="container_text_r">90 см</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Высота:</div>
                                    <div class="container_text_r">150 см</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Тип установки:</div>
                                    <div class="container_text_r">со сверлением</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Управлен:</div>
                                    <div class="container_text_r">левое</div>
                                </li>
                                <li>
                                    <div class="container_text_l">Цвет:</div>
                                    <div class="container_text_r"><img src="../../assets/img/svg/Rectangle104.svg"
                                                                       alt="">блендный зелёный
                                    </div>
                                </li>
                            </ul>
                            <div class="container_cost">
                                <div class="container_text_l cost_text_l">Стоимость:</div>
                                <div class="container_text_r cost_text_r">7 580 грн.</div>
                            </div>
                        </div>
                        <div class="basket_items_close">
                            <img src="../../assets/img/svg/close.svg" alt="" class="svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal_basket_b">
                <div class="basket_bottom">
                    <div class="
basket_total">Итого:
                    </div>
                    <div class="basket_summa">7 580 <span>грн.</span></div>
                </div>
                <button class="ui button_all submit basket_button_modal" type="submit">Оформить заказ</button>
            </div>
        </div>
    </div>

    <div class="ui page dimmer">
        <div class="popup_search">
            <div class="ui icon search input search_header_b">
                <i class="search icon"></i>
                <input type="text" placeholder="Поиск по сайту ">
            </div>
            <div class="result_container">
                <div class="result_grid">
                    <div class="result_items">
                        <a href="#" class="result_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </a>
                        <a href="#" class="result_items_title title">
                            Горизонтальные алюминивые жалюзи Венус белые - 0221
                        </a>
                        <div class="result_items_info">
                            <div class="result_items_info_l">
                                <p>От</p>
                                7 580 <span>грн.</span>
                            </div>
                            <a href="#" class="result_items_info_r">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="result_items">
                        <a href="#" class="result_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </a>
                        <a href="#" class="result_items_title title">
                            Горизонтальные алюминивые жалюзи Венус белые - 0221
                        </a>
                        <div class="result_items_info">
                            <div class="result_items_info_l">
                                <p>От</p>
                                7 580 <span>грн.</span>
                            </div>
                            <a href="#" class="result_items_info_r">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="result_items">
                        <a href="#" class="result_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </a>
                        <a href="#" class="result_items_title title">
                            Горизонтальные алюминивые жалюзи Венус белые - 0221
                        </a>
                        <div class="result_items_info">
                            <div class="result_items_info_l">
                                <p>От</p>
                                7 580 <span>грн.</span>
                            </div>
                            <a href="#" class="result_items_info_r">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="result_items">
                        <a href="#" class="result_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </a>
                        <a href="#" class="result_items_title title">
                            Горизонтальные алюминивые жалюзи Венус белые - 0221
                        </a>
                        <div class="result_items_info">
                            <div class="result_items_info_l">
                                <p>От</p>
                                7 580 <span>грн.</span>
                            </div>
                            <a href="#" class="result_items_info_r">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="result_items">
                        <a href="#" class="result_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </a>
                        <a href="#" class="result_items_title title">
                            Горизонтальные алюминивые жалюзи Венус белые - 0221
                        </a>
                        <div class="result_items_info">
                            <div class="result_items_info_l">
                                <p>От</p>
                                7 580 <span>грн.</span>
                            </div>
                            <a href="#" class="result_items_info_r">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="result_items">
                        <a href="#" class="result_items_img">
                            <img src="../../assets/img/basket_img.png" alt="">
                        </a>
                        <a href="#" class="result_items_title title">
                            Горизонтальные алюминивые жалюзи Венус белые - 0221
                        </a>
                        <div class="result_items_info">
                            <div class="result_items_info_l">
                                <p>От</p>
                                7 580 <span>грн.</span>
                            </div>
                            <a href="#" class="result_items_info_r">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="button_all_result button_all">
                Все результаты поиска (250 товаров)
            </a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="js/app.js"></script>


{% endblock %}