{% extends '../layouts/default.twig' %}
{% set head_title = "Главная" %}
{% set body_class = "home_page" %}
{% block page %}
    <div class="container_home">
        <section class="home">
            <div class="home_left">
                <div class="home_left_items">
                    <div class="home_left_title_t">Какой-то крупный заголовок</div>
                    <div class="home_left_title_b">Со второй строчки - подзаголовок</div>
                    <div class="home_left_container">
                        <div class="home_left_text">
                            ARTTEX - украинский производитель солнцезащитных систем для окон с европейскими стандартами
                            качества!
                            <br>
                            <br>
                            Гарантия срока изготовление и монтажа продукции <span>до 5 дней</span>
                        </div>
                        <a href="#" class="home_link">
                            Перейти в каталог
                            <div class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="home_left_items">
                    <div class="home_left_title_t">Какой-то крупный заголовок 2</div>
                    <div class="home_left_title_b">Со второй строчки - подзаголовок</div>
                    <div class="home_left_container">
                        <div class="home_left_text">
                            ARTTEX - украинский производитель солнцезащитных систем для окон с европейскими стандартами
                            качества!
                            <br>
                            <br>
                            Гарантия срока изготовление и монтажа продукции <span>до 5 дней</span>
                        </div>
                        <a href="#" class="home_link">
                            Перейти в каталог
                            <div class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="home_left_items">
                    <div class="home_left_title_t">Какой-то крупный заголовок 3</div>
                    <div class="home_left_title_b">Со второй строчки - подзаголовок</div>
                    <div class="home_left_container">
                        <div class="home_left_text">
                            ARTTEX - украинский производитель солнцезащитных систем для окон с европейскими стандартами
                            качества!
                            <br>
                            <br>
                            Гарантия срока изготовление и монтажа продукции <span>до 5 дней</span>
                        </div>
                        <a href="#" class="home_link">
                            Перейти в каталог
                            <div class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="home_left_items">
                    <div class="home_left_title_t">Какой-то крупный заголовок 4</div>
                    <div class="home_left_title_b">Со второй строчки - подзаголовок</div>
                    <div class="home_left_container">
                        <div class="home_left_text">
                            ARTTEX - украинский производитель солнцезащитных систем для окон с европейскими стандартами
                            качества!
                            <br>
                            <br>
                            Гарантия срока изготовление и монтажа продукции <span>до 5 дней</span>
                        </div>
                        <a href="#" class="home_link">
                            Перейти в каталог
                            <div class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="home_slider_container">
                <div class="home_slider">
                    <div class="home_slider_items">
                        <img src="../../assets/img/home_img.png" alt="">
                    </div>
                    <div class="home_slider_items">
                        <img src="../../assets/img/home_img.png" alt="">
                    </div>
                    <div class="home_slider_items">
                        <img src="../../assets/img/home_img.png" alt="">
                    </div>
                    <div class="home_slider_items">
                        <img src="../../assets/img/home_img.png" alt="">
                    </div>
                </div>
                <div class="slider_number_container">
                    <div class="button_prev button_slider">
                        <img src="../../assets/img/svg/Arrow_button.svg" alt="" class="svg">
                    </div>
                    <div class="slider_text_number">
                        <span class="slider_text_number_b">01</span> / <span class="slider_text_number_s">05</span>
                    </div>
                    <div class="button_next button_slider">
                        <img src="../../assets/img/svg/Arrow_button.svg" alt="" class="svg">
                    </div>
                </div>
            </div>
        </section>
        <section class="product container_all">
            <div class="product_slider_container">
                <div class="product_text">
                    Продукция
                    по назначению
                </div>
                <div class="product_slider">
                    <div class="container_slider one_slider">
                        <div class="product_items product_slider_1">
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle15.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle16.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle18.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle15.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle16.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle18.png" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="content_list_product">
                            <div class="product_items_container active">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для ванной
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для кухни
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Римские шторы в гостинную
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для ванной
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для кухни
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Римские шторы в гостинную
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container_slider two_slider">
                        <div class="product_items product_slider_2">
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle15.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle16.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle18.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle15.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle16.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle18.png" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="content_list_product">
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для ванной
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для кухни
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Римские шторы в гостинную
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для ванной
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для кухни
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Римские шторы в гостинную
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container_slider three_slider">
                        <div class="product_items product_slider_3">
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle15.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle16.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle18.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle15.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle16.png" alt="">
                                </div>
                            </div>
                            <div class="product_items_list">
                                <div class="product_items_img">
                                    <img src="../../assets/img/Rectangle18.png" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="content_list_product">
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для ванной
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для кухни
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Римские шторы в гостинную
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для ванной
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Жалюзи для кухни
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                            <div class="product_items_container">
                                <div class="product_items_title text_bold_s">
                                    Римские шторы в гостинную
                                </div>
                                <div class="product_items_price text_bold_s">
                                    Цена от 210 грн.
                                </div>
                                <p>Две строки текста где будет что-то сказано про жалюзи </p>
                                <a href="#" class="image_arrow button_icon">
                                    <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_slider_mob">
                    <div class="product_items_list">
                        <div class="product_items_img">
                            <img src="../../assets/img/Rectangle15.png" alt="">
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Жалюзи для ванной
                            </div>
                            <div class="product_items_price text_bold_s">
                                Цена от 210 грн.
                            </div>
                            <p>Две строки текста где будет что-то сказано про жалюзи </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                    </div>
                    <div class="product_items_list">
                        <div class="product_items_img">
                            <img src="../../assets/img/Rectangle16.png" alt="">
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Жалюзи для кухни
                            </div>
                            <div class="product_items_price text_bold_s">
                                Цена от 210 грн.
                            </div>
                            <p>Две строки текста где будет что-то сказано про жалюзи </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                    </div>
                    <div class="product_items_list">
                        <div class="product_items_img">
                            <img src="../../assets/img/Rectangle18.png" alt="">
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Римские шторы в гостинную
                            </div>
                            <div class="product_items_price text_bold_s">
                                Цена от 210 грн.
                            </div>
                            <p>Две строки текста где будет что-то сказано про жалюзи </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                    </div>
                    <div class="product_items_list">
                        <div class="product_items_img">
                            <img src="../../assets/img/Rectangle15.png" alt="">
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Жалюзи для ванной
                            </div>
                            <div class="product_items_price text_bold_s">
                                Цена от 210 грн.
                            </div>
                            <p>Две строки текста где будет что-то сказано про жалюзи </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                    </div>
                    <div class="product_items_list">
                        <div class="product_items_img">
                            <img src="../../assets/img/Rectangle16.png" alt="">
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Жалюзи для кухни
                            </div>
                            <div class="product_items_price text_bold_s">
                                Цена от 210 грн.
                            </div>
                            <p>Две строки текста где будет что-то сказано про жалюзи </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                    </div>
                    <div class="product_items_list">
                        <div class="product_items_img">
                            <img src="../../assets/img/Rectangle18.png" alt="">
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Римские шторы в гостинную
                            </div>
                            <div class="product_items_price text_bold_s">
                                Цена от 210 грн.
                            </div>
                            <p>Две строки текста где будет что-то сказано про жалюзи </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slider_number_container">
                    <div class="button_prev button_slider">
                        <img src="../../assets/img/svg/Arrow_button.svg" alt="" class="svg">
                    </div>
                    <div class="slider_text_number">
                        <span class="slider_text_number_b">01</span> / <span class="slider_text_number_s">05</span>
                    </div>
                    <div class="button_next button_slider">
                        <img src="../../assets/img/svg/Arrow_button.svg" alt="" class="svg">
                    </div>
                </div>
            </div>
        </section>
        <section class="manufacturer">
            <div class="manufacturer_img">
                <img src="../../assets/img/Rectangle19.png" alt="">
            </div>
            <div class="container_all manufacturer_container">
                <div class="manufacturer_text">ARTTEX - украинский производитель солнцезащитных систем</div>
                <div class="manufacturer_grid">
                    <div class="manufacturer_item">
                        <div class="manufacturer_item_icon">
                            <img src="../../assets/img/svg/schedule%201.svg" alt="">
                        </div>
                        <div class="manufacturer_item_title">Удобный график работы</div>
                        <div class="manufacturer_item_text">Мы работаем согласно удобству для Вас. Мастера приезжают в
                            удобное для Вас время и день недели. Заранее и предварительно соглавываем со специалистами.
                        </div>
                    </div>
                    <div class="manufacturer_item">
                        <div class="manufacturer_item_icon">
                            <img src="../../assets/img/svg/Two%202.svg" alt="">
                        </div>
                        <div class="manufacturer_item_title">Гарантия 2 года на всю продукцию</div>
                        <div class="manufacturer_item_text">Мы работаем согласно удобству для Вас. Мастера приезжают в
                            удобное для Вас время и день недели. Заранее и предварительно соглавываем со специалистами.
                        </div>
                    </div>
                    <div class="manufacturer_item">
                        <div class="manufacturer_item_icon">
                            <img src="../../assets/img/svg/Two%202.svg" alt="">
                        </div>
                        <div class="manufacturer_item_title">Гарантия 2 года на всю продукцию</div>
                        <div class="manufacturer_item_text">Мы работаем согласно удобству для Вас. Мастера приезжают в
                            удобное для Вас время и день недели. Заранее и предварительно соглавываем со специалистами.
                        </div>
                    </div>
                    <div class="manufacturer_item">
                        <div class="manufacturer_item_icon">
                            <img src="../../assets/img/svg/schedule%201.svg" alt="">
                        </div>
                        <div class="manufacturer_item_title">Удобный график работы</div>
                        <div class="manufacturer_item_text">Мы работаем согласно удобству для Вас. Мастера приезжают в
                            удобное для Вас время и день недели. Заранее и предварительно соглавываем со специалистами.
                        </div>
                    </div>
                </div>
                <div class="manufacturer_mob">
                    <div class="video_container">
                        <div class="button_video_content button_icon_video">
                            <div class="button_video">
                                <img src="../../assets/img/svg/button_video.svg " alt="" class="svg">
                            </div>
                        </div>
                        <video id='video' controls="controls" preload='none' width="100%"
                               poster="../../assets/img/Rectangle19.png">
                            <source id='mp4' src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4'/>
                            <source id='webm' src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm'/>
                            <source id='ogv' src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg'/>
                        </video>
                    </div>
                    <div class="button_video_content">
                        <p>Смотреть видео
                            про наше производство</p>
                        <span>Это займёт 02:15</span>
                    </div>
                    <div class="video_content">
                        <p>Компания ARTTEX была основана в 2008 году и на сегодняшний день является одним из ведущих
                            производителей солнцезащитных систем Украины. Начиная производство с обычных вертикальных
                            жалюзи, за 7 лет компания сделала большой шаг вперед и теперь в ассортимент предлагаемой
                            продукции входят такие позиции как: горизонтальные алюминиевые жалюзи, система Venus,
                            горизонтальные деревянные жалюзи, горизонтальные пластиковые жалюзи, тканевые</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="buyer_help">

            <div class="container_all buyer_help_container">
                <div class="buyer_help_left">
                    <div class="buyer_help_left_text">Покупателю в помощь</div>
                    <div class="buyer_help_grid">
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Доставка и оплата
                            </div>
                            <p>Мы доставляем таким компаниям как: Новая почта, Деливери, Укрпочта, МистЭкспресс </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Вопросы ответы
                            </div>
                            <p>Мы постарались исчерпывающее ответить на частые вопросы, которые возникают у Вас.</p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Доставка и оплата
                            </div>
                            <p>Мы доставляем таким компаниям как: Новая почта, Деливери, Укрпочта, МистЭкспресс </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                        <div class="product_items_container">
                            <div class="product_items_title text_bold_s">
                                Гарантия и возврат
                            </div>
                            <p>Мы доставляем таким компаниям как: Новая почта, Деливери, Укрпочта, МистЭкспресс </p>
                            <a href="#" class="image_arrow button_icon">
                                <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="buyer_help_img">
                    <img src="../../assets/img/Rectangle20.png" alt="">
                </div>
            </div>
        </section>
        <section class="idea">
            <div class="container_all container_idea">
                <div class="slider_idea_container">
                    <div class="slider_idea_container_text">Идеи
                        для интерьера
                    </div>
                    <div class="idea_slider">
                        <div class="idea_slider_items">
                            <img src="../../assets/img/Rectangle22.png" alt="">
                        </div>
                        <div class="idea_slider_items">
                            <img src="../../assets/img/Rectangle22.png" alt="">
                        </div>
                        <div class="idea_slider_items">
                            <img src="../../assets/img/Rectangle22.png" alt="">
                        </div>
                        <div class="idea_slider_items">
                            <img src="../../assets/img/Rectangle22.png" alt="">
                        </div>
                    </div>
                    <div class="slider_number_container">
                        <div class="button_prev button_slider">
                            <img src="../../assets/img/svg/Arrow_button.svg" alt="" class="svg">
                        </div>
                        <div class="slider_text_number">
                            <span class="slider_text_number_b">01</span> / <span class="slider_text_number_s">05</span>
                        </div>
                        <div class="button_next button_slider">
                            <img src="../../assets/img/svg/Arrow_button.svg" alt="" class="svg">
                        </div>
                    </div>
                </div>
                <div class="idea_portfolio">
                    <div class="idea_portfolio_img">
                        <img src="../../assets/img/Rectangle24.png" alt="">
                    </div>
                    <a href="#" class="idea_portfolio_link">
                        Портфолио наших работ
                        <div class="image_arrow button_icon">
                            <img src="../../assets/img/svg/Arrow_button.svg " alt="">
                        </div>
                    </a>
                </div>
                <div class="button_video_content">
                    <div class="button_video">
                        <img src="../../assets/img/svg/button_video.svg " alt="" class="svg">
                    </div>
                    <p>Смотреть видео
                        про наше производство</p>
                    <span>Это займёт 02:15</span>
                </div>
            </div>
            <div class="container_all container_representative_top">
                <div class="container_representative_column">
                    <div class="container_representative_text_t">Представительства нашей продукции в городах Украины
                    </div>
                    <div class="container_representative_text_b">Представительства нашей продукции в городах Украины
                    </div>
                </div>
            </div>
            <div class="container_all container_representative">

                <div class="container_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164153.5222970856!2d36.145742038497254!3d49.99450702572823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a09f63ab0f8b%3A0x2d4c18681aa4be0a!2z0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1597136466088!5m2!1sru!2sua"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    <div class="services_popup">
                        <div class="close_popup">
                            <img src="../../assets/img/svg/close.svg" alt="" class="svg">
                        </div>
                        <ul class="services_popup_list">
                            <li>
                                <div class="services_popup_list_title">Бесплатная доставка</div>
                                <p>При заказе онлай на сайте от 5 000 грн. в любую точку Украины</p>
                            </li>
                            <li>
                                <div class="services_popup_list_title">2 года гарантии</div>
                                <p>На всю продукцию, мы уверены в качестве нашей продукции</p>
                            </li>
                            <li>
                                <div class="services_popup_list_title">Жалюзи за 1 день</div>
                                <p>Сроки выполнения заказа от 1 до 7 дней</p>
                            </li>
                            <li>
                                <div class="services_popup_list_title">уборка после работы</div>
                                <p>После окончания работ, мастера убирают всё за собой</p>
                            </li>
                            <li>
                                <div class="services_popup_list_title">уборка после работы</div>
                                <p>После окончания работ, мастера убирают всё за собой</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container_map_right">
                    <select class="ui fluid  dropdown representative_select">
                        <option value="KH">Харьков</option>
                        <option value="KV">Киев</option>
                    </select>
                    <div class="representative_text">
                        Название представительситва может в две строки
                    </div>
                    <div class="button_services">
                        Предоставляемые услуги
                    </div>
                    <ul class="representative_list_info">
                        <li>
                            <div class="representative_icon">
                                <img src="../../assets/img/svg/employee.svg" alt="">
                            </div>
                            <div class="representative_right">
                                <div class="representative_right_text">В этом городе есть монтажная бригада</div>
                            </div>
                        </li>
                        <li>
                            <div class="representative_icon representative_icon_color">
                                <img src="../../assets/img/svg/Adress.svg" alt="" class="svg">
                            </div>
                            <div class="representative_right">
                                <div class="representative_right_text">г. Харьков, пр-т Московский, 129а</div>
                                <div class="click_map">Проложить машрут</div>
                            </div>
                        </li>
                        <li>
                            <div class="representative_icon representative_icon_color">
                                <img src="../../assets/img/svg/Phone.svg" alt="" class="svg">
                            </div>
                            <div class="representative_right">
                                <a href="tel:+380501328457
 " class="representative_right_text">(050) 132-84-57
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="representative_icon representative_icon_color">
                                <img src="../../assets/img/svg/Email.svg" alt="" class="svg">
                            </div>
                            <div class="representative_right">
                                <a href="mailto:arttexoffice@gmail.com
 " class="representative_right_text">arttexoffice@gmail.com
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="representative_icon representative_icon_color">
                                <img src="../../assets/img/svg/clock.svg" alt="" class="svg">
                            </div>
                            <div class="representative_right">
                                <div class="clock_map">
                                    Пн-Пт: <span>09:00 - 17:00</span>
                                    <br>
                                    Сб-Вс: <span>Выходной</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--  <div class="container_map_right">
                    <select class="ui fluid  dropdown representative_select">
                        <option value="KH">Харьков</option>
                        <option value="KV">Киев</option>
                    </select>
                    <div class="container_manager">
                        <div class="manager_row">
                            <div class="manager_img">
                               {# <div class="manager_status offline">
                                </div> #}
                                <div class="manager_status online">
                                </div>
                                <img src="../../assets/img/Ellipse69.png" alt="">
                            </div>
                            <div class="manager_column">
                                <div class="manager_column_text_t">Менеджер - консультант</div>
                                <div class="manager_column_text_b">Анна</div>
                            </div>
                        </div>
                        <div class="manager_social">
                            <div class="manager_social_text">Вы можете связаться с нами через мессенджер:</div>
                            <div class="manager_social_link">
                                <a href="#">
                                    <img src="../../assets/img/svg/Messenger.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../assets/img/svg/Viber.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../assets/img/svg/What’s_app.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../assets/img/svg/Telegram.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="button_services">
                        Предоставляемые услуги
                    </div>
                    <ul class="representative_list_info">
                        <li>
                            <div class="representative_icon representative_icon_color">
                                <img src="../../assets/img/svg/Phone.svg" alt="" class="svg">
                            </div>
                            <div class="representative_right">
                                <a href="tel:+380501328457
" class="representative_right_text">(050) 132-84-57
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="representative_icon representative_icon_color">
                                <img src="../../assets/img/svg/Email.svg" alt="" class="svg">
                            </div>
                            <div class="representative_right">
                                <a href="mailto:arttexoffice@gmail.com
" class="representative_right_text">arttexoffice@gmail.com
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="representative_icon representative_icon_color">
                                <img src="../../assets/img/svg/clock.svg" alt="" class="svg">
                            </div>
                            <div class="representative_right">
                                <div class="clock_map">
                                    Пн-Пт: <span>09:00 - 17:00</span>
                                    <br>
                                    Сб-Вс: <span>Выходной</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>-->
            </div>
        </section>
        <section class="info_home">
            <div class="container_all">
                <div class="ui accordion accordion_info_home">

                    <div class="accordion_text title">
                        Интернет магазин по продаже жалюзей и солнезащитных систем для окон и дверей Arttex
                        <div class="button_close">
                            <img src="../../assets/img/svg/Plus.svg" alt="" class="svg">
                        </div>
                    </div>


                    <div class="content">
                        <p>Компания ARTTEX была основана в 2008 году и на сегодняшний день является одним из ведущих
                            производителей солнцезащитных систем Украины. Начиная производство с обычных вертикальных
                            жалюзи, за 7 лет компания сделала большой шаг вперед и теперь в ассортимент предлагаемой
                            продукции входят такие позиции как: горизонтальные алюминиевые жалюзи, система Venus,
                            горизонтальные деревянные жалюзи, горизонтальные пластиковые жалюзи, тканевые ролеты
                            (рулонные шторы) открытого и закрытого типа, система день-ночь, бамбуковые ролеты, защитные
                            ролеты (рольставни), вертикальные тканевые жалюзи, пластиковые вертикальные жалюзи,
                            мультифактурные и нитяные
                            вертикальные жалюзи. Также компания наладила производство и пошив плиссе и римских штор.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% extends '../components/footer.twig' %}